# 1. Python Basics

## 1.1 Python as a calculator

In [ ]:
# Addition, subtraction
print(5 + 5)
print(5 - 5)

# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7) # 나눗셈의 나머지
print(4 ** 2) # n승

10
0
15
5.0
4
16

In [ ]:
# Suppose you have $100, which you can invest with a 10% return each year. How much is your $100 worth after 7 years?
print(100 * (1.1 **7))

194.87171000000012

## 1.2 Variables and Types

*  Variable 할당 방법 : "="
*  Types : float(정수 부분 + 소수 부분), int(정수), str(문자열), bool(R에서의 factor) 
*  Different type = Different behavior

In [ ]:
# Create a variable savings and print out
savings = 100; print(savings)

# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result and print out
result = savings*growth_multiplier**7; print(result)

100
194.87171000000012

In [ ]:
# Create a variable desc
desc = "compound interest"; type(desc)

# Create a variable profitable
profitable = True; type(profitable)

bool

In [ ]:
# 문자열의 덧셈
print(desc)
doubledesc = desc + desc; print(doubledesc)

compound interest
compound interestcompound interest

In [ ]:
# 변수의 변환
print(type(savings)); print(type(str(savings)))
pi_string = "3.1415926"; pi_float = float(pi_string); print(type(pi_float))

<class 'int'>
<class 'str'>
<class 'float'>

# 2. Python Lists

## 2.1 Python List

* " [   ] "  이용
* Contain any type, Contain different types
* list 안에 sublist 포함 가능

In [ ]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]; print(areas)


# Adapt list areas
areas = ['hallway', hall, 'kitchen', kit, "living room", liv, 'bedroom', bed, "bathroom", bath]; print(areas)

# house information as list of lists (Sublist 포함)
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]
print(house)

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

## 2.2 Subsetting lists
* Indexing (eg. fam[6], fam[-1])
* Slicing 
   * fam[3:5] (이때, 마지막 index는 포함되지 않음 i.e. 세 번째와 네 번째 index에 해당하는 value만 반환됨)
   * fam[:4] (0부터 3까지, 총 4개)
   * fam[5:] (6부터 끝까지) 
* Subsetting lists of lists
   * eg. x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
     
     x[2][0] (List 안에 더 작은 list가 있을 경우의 indexing)

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

# Use slicing to create a list, downstairs, that contains the first 6 elements of areas
downstairs = areas[:6]

# Use slicint to create a list, upstairs, that contains the last 4 elements of areas
upstairs = areas[-4:]

## 2.3 Manipulating Lists
* Changing list elements
    * fam[0:2] = ["lisa", 1.74]
* Adding and removing elements
    * fam + ["me", 1.79]
    * del(fam[2])
* Behind the scenes (List를 복사하는 방법)
    * y = x (실제 값 자체가 아니라 목록에 대한 참조를 복사 i.e. y의 값을 바꾸면 x의 값도 같이 바뀜)
    * y = list(x) or y = x[:] (y의 값을 바꾸더라도 x의 값이 바뀌지 않음)

In [ ]:
# Correct the bathroom area
areas[-1] = 10.5
# Change "living room" to "chill zone"
areas[4] = 'chill zone'

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ['poolhouse', 24.5]
# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ['garage',15.45]

# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
# Create areas_copy
areas_copy = areas

# Change areas_copy
areas_copy[0] = 5.0
# Print areas (areas의 값이 변하지 않음)
print(areas)