### 0. 필요한 라이브러리 불러오기

In [1]:
import numpy as np #행렬/배열 연산 처리

###1. 데이터 생성

In [2]:
dat = np.array([2,3,3,4,4,4,4,5,5,6])
dat

array([2, 3, 3, 4, 4, 4, 4, 5, 5, 6])

### 2. Sum

In [3]:
np.sum(dat)

40

In [4]:
dat.sum()

40

In [5]:
sum(dat)

40

### 3. Sample size

In [6]:
len(dat)

10

### 4. Mean

In [7]:
n = len(dat)
result = np.sum(dat)
average = result/n
average

4.0

In [8]:
np.mean(dat)

4.0

In [9]:
np.median(dat)

4.0

### 5. Variance

![image.png]()

In [10]:
pop_var = np.sum((dat-average)**2)/n
pop_var

1.2

In [11]:
sam_var = np.sum((dat-average)**2)/(n-1)
sam_var

1.3333333333333333

In [12]:
np.var(dat, ddof=0)

1.2

In [13]:
np.var(dat)

1.2

In [14]:
np.var(dat, ddof=1)

1.3333333333333333

### 6. Standard Deviation

In [15]:
sd = np.sqrt(sam_var)
sd

1.1547005383792515

In [16]:
np.std(dat, ddof=1)

1.1547005383792515

In [17]:
import pandas as pd #데이터 분석/처리를 위한 라이브러리

### 7. 데이터 살펴보기

In [18]:
# 드라이브 마운트 : 드라이브에 있는 파일 연동
## 좌측 폴더 아이콘 클릭 > 세번째 아이콘(드라이브) 클릭 > 마운트
## 아니면 아래 코드 실행
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
iris= pd.read_csv('/content/drive/MyDrive/iris.csv') #파일 경로 복사에서 따옴표 안에 넣어줌

In [20]:
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [21]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [22]:
iris.head(10)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [23]:
iris.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [24]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [25]:
iris.describe() #수치형 변수에 대해서만 계산

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [26]:
iris['SepalLength'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [27]:
iris.isna().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Name           0
dtype: int64